.App {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/*body,
html {
  height: 100%;
  margin: 0;
  background-image: url("./selcukLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}*/

input,
button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 15px;
}

.TextField {
  width: 300px;
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.images-container img {
  width: 250px;
  object-fit: contain;
}

.images-container img:focus {
  border: 1px solid red;
}

.MuiFormControl-root {
  margin: 0 5px;
}

@media screen and (max-width: 1024px) {
  .images-container {
    justify-content: end;
    overflow-x: auto;
  }
}
